<header>
  <div class="header">
    <div class="logo">
      <img src="../../assets/img/MainLogo.ico" alt="LernAppLogo" />
      <h1>Lern-App</h1>
    </div>
    <div class="menu">
      <div class="logout-btn">
        <h3>Abmeldung</h3>
        <img (click)="logout()" src="../../../../assets/img/logout_btn.svg" alt="Logout-btn">
      </div>
      <app-dropdown class="menu_drp" [options]="options1" [selectedValue]="selectedValue1"></app-dropdown>
      <app-dropdown class="menu_drp" [options]="options2" [selectedValue]="selectedValue2"></app-dropdown>
      <app-dropdown class="menu_drp" [options]="options3" [selectedValue]="selectedValue3"></app-dropdown>
    </div>
  </div>
</header>
